html{
    font-family: 'Roboto', sans-serif;
    /*background-color: rgba(3, 3, 3, 0.8);*/
}
body{
    background: url(images/background1.jpg) no-repeat center center fixed;
    margin: 0;
}
p{
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5vh;
}
h2{
    font-variant: small-caps;
    font-size: 5vh;
}
ul{
    text-align: center;
    padding-left: 0;
    height: 35vh;
}
ul li{
    color:blueviolet;
    list-style:none;
    font-size: 5vh;
    font-variant: small-caps;
}
ul li:hover{
    color: rgb(101, 32, 167);
    font-size: 6vh;
}
header {
    position: fixed;
    top: 0;
}
.title {
    color:#313638;
    font-size: 5vh;
    border-bottom: solid #313638 15px;
    padding-bottom: 20px;
    margin:0;
    font-variant: small-caps;
    background-color: #fff9fb;
    padding: 15px 0 0 10px;
    min-width: 100vw;
}
.containerS1 {
    margin: 0% 5% 0% 5%;
    background-color: #fff9fbee;
    padding: 2vh 1vh 2vh 1vh;
}
.containerS1 h2 {
    margin: 0 0 20px 0;
    padding: 0 0 0 16px;
    text-align: left;
    background-color: #4472CA;
    
}
.containerS1 h2:hover {
    color:#3B5481;
}
.containerS2 {
    margin: 0% 5% 0 5%;
    background-color: #fff9fbee;
    padding: 2vh 1vh 2vh 1vh;

}
.containerS2 h2 {
    margin: 0 0 2000px 0;
    padding: 0 16px 0 0;
    text-align: right;
    background-color: #4472CA;
}
.containerS2 h2:hover {
    color:#3B5481;
}
a {
    overflow-wrap: break-word;
}
